<!DOCTYPE html>
<title>Cuda</title>
<html>
	<head> 
		<link rel="shortcut icon" href="/static/favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/style.css"/>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
	</head>
	<body>
	<h1>Image inpainting</h1>
	<div id=img1 onmousedown='down(event)' onmouseup='up(event)' onmousemove='move(event)'>
		{% if name %}
		<img id = imgleft draggable="false" src = {{ name }} ></img>  
		{% endif %}	
		<div id=rect style='position:absolute;background-color: #FFFFFF;'> </div>
	</div>
	<div id=img2>
		<img id = done></img>	
	</div>
	<div>
	<form id = "inputfile" action = "/upload" method = "POST" enctype="multipart/form-data" style = "left:150px">
		<input type="file" name = "file"> </input> 
		<input type="submit" value="Upload!"/>
	</form>
	<button id = but1 onclick = "clearall()"> Clear </button>
	</div>
	<button id = but2 onclick= "inpainting()"> Inpainting! </button>
	</body>
	<script language = "javascript">
		var select = false;
		var rect = document.getElementById("rect");
		rect.style.width = 0;
		rect.style.height = 0;
		rect.style.visibility = 'hidden';
		rect.style.zIndex = 1000;
		var gap = 100;
		var gapx = 50;
		var downX = 0;
		var downY = 0;
		var mouseX2=downX;
		var mouseY2=downY;
		var fun1 = function() { down(event);};
		var fun2 = function() { move(event);};
		function down(event) {
			select = true;
			downX = event.clientX;
			downY = event.clientY;
			if(downX < 20 + gapx || downX > 580 + gapx || downY < 20 + gap || downY > 580 + gap) {
				select = false;
				clearall();
			}
			rect.style.left = downX;
			rect.style.top = downY;
		}
		
		function up(event) {
			//rect.style.visibility = 'hidden';
			imghandler = document.getElementById("img1");
			if(select){ 
				imghandler.onmousedown = null;
				imghandler.onmousemove = null;
				imghandler.removeEventListener("mousedown",fun1);
				imghandler.removeEventListener("mousemove",fun2);
				select = false;
			}
		}
		
		function move(event) {
			mouseX2 = event.clientX;
		    	mouseY2 = event.clientY;
			rect.style.width = Math.abs( mouseX2 - downX ) + "px";
			rect.style.height = Math.abs( mouseY2 - downY ) + "px";
			if(select){
				rect.style.visibility = 'visible';
				// A part
				if( mouseX2 < downX && mouseY2 < downY ){
					rect.style.left = mouseX2 -gapx + "px";
					rect.style.top = mouseY2 - gap + "px" ;    
				}
				// B part
				if( mouseX2 > downX && mouseY2 < downY){
					rect.style.left = downX -gapx + "px";
					rect.style.top = mouseY2 - gap + "px";    
				}
				// C part
				if( mouseX2 < downX && mouseY2 > downY){
					rect.style.left = mouseX2 -gapx + "px";
					rect.style.top = downY - gap + "px";    
				}
				// D part
				if( mouseX2 > downX && mouseY2 > downY ){
					rect.style.left = downX -gapx + "px";
					rect.style.top = downY - gap + "px";
				}            
				//if(parseInt(rect.style.left,10) < 20 || parseInt(rect.style.left,10) > 580 || parseInt(rect.style.top,10) < 20 || parseInt(rect.style.top,10) > 580) {
				//	select = false;
				//	rect.style.visibility = 'hidden';
				//	clearall();
				//}
			}
		}
		function clearall() {
			rect.style.visibility = 'hidden';
			imghandler = document.getElementById("img1");
			imghandler.addEventListener("mousedown", fun1);
			imghandler.addEventListener("mousemove", fun2);
		}
		function inpainting() {
			var obj = {};
			obj["x"] = rect.style.left;
			obj["y"] = rect.style.top;
			obj["width"] = rect.style.width;
			obj["height"] = rect.style.height;
			obj["src"] = document.getElementById("imgleft").src;
			$.ajax ({
				url : "/inpainting",
				type : "POST",
				data : JSON.stringify(obj),
				contentType: "application/json",
				dataType : "json",
				success: function (result) {
					document.getElementById("done").src = result["address"];
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(xhr.status);
					alert(thrownError);	
				}
			});
		}
	</script>

</html>
